.login {
  background-color: rgb(255, 255, 255);
  height: 100vh;

  .login-header {
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 10px;
    margin-bottom: 30px;
    text-align: center;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 500px;

    .login-text {
      font-weight: bold;
      margin: 25px 0;
      letter-spacing: 1.5px;
      font-size: 17px;
    }

    .login-btn_row {
      margin-top: 25px;
      margin-bottom: 30px;

      .login-btn {
        width: 100%;
        border-radius: 20px;
        background-color: #155799;
        border-color: #155799;
        letter-spacing: 1.5px;
        padding: 8px 0;

        &:hover {
          background-color: #1c73ca;
          border-color: #1c73ca;
        }
      }
    }

    .signup-section {

      hr {
        border-color: rgba(0, 0, 0, 0.4);
      }

      .signup-text {
        font-weight: bold;
        margin-top: 25px;
        letter-spacing: 1.5px;
        font-size: 17px;
      }

      .signup-btn {
        margin: 20px 0;
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        color: #155799;
        border: 1.4px solid #155799;
        letter-spacing: 1.5px;
        padding: 8px 0;

        &:hover {
          background-color: #1c73ca;
          border-color: #1c73ca;
          color: white;
        }
      }
    }
  }
}