.navbar-fixed-left {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  .container {
    margin-left: auto;
    margin-right: auto;

    .login-btn {
      width: 100%;
      border-radius: 20px;
      background-color: #155799;
      border-color: #155799;
      letter-spacing: 1.5px;
      padding: 8px 0;

      &:hover {
        background-color: #1c73ca;
        border-color: #1c73ca;
      }
    }

    .signup-btn {
      width: 100%;
      border-radius: 20px;
      background-color: white;
      color: #155799;
      border: 1.4px solid white;
      letter-spacing: 1.5px;
      padding: 8px 0;

      &:hover {
        background-color: #1c73ca;
        border-color: #1c73ca;
        color: white;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }


}

@media (min-width: 768px) {
  .navbar-fixed-left {
    width: 220px;
    height: 100vh;
    padding-top: 25px;

    .container {
      padding-right: 0;
      padding-left: 0;
      width: auto;
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: flex-start;

      .signup-btn {
        margin: 20px 0;
      }

      .navbar-header {
        padding-bottom: 20px;
        font-size: 30px;

        .navbar-welcome {
          font-size: 20px;
          margin-top: 10px;
        }
      }

      .navbar-collapse {
        flex-direction: column;
        height: 75vh;

        .navbar-top-links {
          .nav-item {
            padding: 10px 10px 10px 0;
          }
        }

        .navbar-bottom-links {
          flex-direction: column-reverse;
          width: 200%;
          margin: auto;
          height: 50%;
        }
      }

      ul {
        flex-direction: column;
      }
    }

  }
}

@media (max-width: 767px) {
  .navbar-fixed-left {
    .container {

      .navbar-header {
        font-size: 20px;
      }

      .navbar-collapse {
        .navbar-top-links {
          justify-content: space-evenly;

          .nav-item {
            margin: 10px 20px 10px 0;
          }
        }

        .navbar-bottom-links {
          justify-content: space-evenly;
          margin-top: 10px;
          .nav-item {
            margin-right: 20px;

            .login-btn, .signup-btn {
              padding: 5px 30px;
            }
          }
        }
      }
    }
  }
}