@media (min-width: 768px) {
  .list-content {
    max-height: 90vh;
    overflow-y: scroll;
    margin-right: -15px;

    &::-webkit-scrollbar {
      width: 15px;
      height: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: #b3b3b3;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #b3b3b3;
    }

    h1 {
      line-height: 60px;
      letter-spacing: 0.06em;
      font-weight: 900;
      margin-top: 25px;
    }
  }
}

@media (max-width: 767px) {
  .list-content {
    max-height: 100vh;
    overflow-y: scroll;
  }
}

