.song-details {
  .details-loading {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .details-row {
    padding-top: 40px;

    .details-text {
      i {
        font-size: 25px;
      }

      p {
        margin-top: 10px;
      }

      a {
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 768px) {
  .song-details {
    .details-row {
      img {
        width: 50%;
        display: flex;
        margin: auto;
        padding-bottom: 20px;
      }

      .details-text {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}